(
    config: {
        [
            (
                connector: "DP-2",
                make: "Unknown",
                model: "Unknown",
            ),
        ]: [
            (
                mode: ((2560, 1440), Some(59951)),
                vrr: false,
                scale: 1.0,
                transform: Normal,
                position: (0, 0),
                enabled: true,
                max_bpc: Some(16),
            ),
        ],
    },
)