[Desktop Entry]
Icon=application-x-ms-dos-executable
Name=Diablo IV Launcher.exe
Type=Link
URL[$e]=file:///media/pelit1/Diablo IV/Diablo IV Launcher.exe
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
