[Desktop Entry]
Icon=image-png
Name=screenshot_2023-06-27T16:05:56.png
Type=Link
URL[$e]=file:$HOME/screenshot_2023-06-27T16:05:56.png
X-KDE-LastOpenedWith=org.freedesktop.impl.portal.desktop.kde
