[Desktop Entry]
Name=BetterDiscord (1.3.0)
Exec=/home/tommi/Applications/BetterDiscord-Linux_69fd03db4b6c5f17a067b7b845409276.AppImage --no-sandbox %U
Terminal=false
Type=Application
Icon=appimagekit_5d0ef24b8adb8082c24e83e4507c0758_betterdiscord-installer
StartupWMClass=BetterDiscord
X-AppImage-Version=1.3.0
Comment=A simple standalone program which automates the installation, removal and maintenance of BetterDiscord.
Categories=Utility;

TryExec=/home/tommi/Applications/BetterDiscord-Linux_69fd03db4b6c5f17a067b7b845409276.AppImage
X-AppImage-Old-Icon=betterdiscord-installer
X-AppImage-Old-Name=BetterDiscord
X-AppImage-Identifier=5d0ef24b8adb8082c24e83e4507c0758
Actions=AppImageLauncher-Remove-AppImage;
X-AppImageLauncher-Version=2.2.0 (git commit d9d4c73), built on 2022-09-08 14:49:51 UTC

[Desktop Action AppImageLauncher-Remove-AppImage]
Name=Delete this AppImage
Icon=AppImageLauncher
Exec=/usr/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/tommi/Applications/BetterDiscord-Linux_69fd03db4b6c5f17a067b7b845409276.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=Dieses AppImage löschen
Name[en]=Delete this AppImage
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer cette AppImage
Name[it]=Rimuovi questa AppImage
Name[nb_NO]=Slett AppImage
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_BR]=Remover AppImage do sistema
Name[ru]=Удалить AppImage
Name[tr]=Bu AppImage uygulamasını sil
Name[zh_Hans]=删除此 AppImage
