[Desktop Entry]
Name=Arch-alvr
GenericName=Terminal entering Arch-alvr
Comment=Terminal entering Arch-alvr
Categories=Distrobox;System;Utility
Exec=/usr/bin/distrobox enter  arch-alvr
Icon=/home/tommi/.local/share/icons/distrobox/arch.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/usr/bin/distrobox
Type=Application
