[Desktop Entry]
Name=Assassin's Creed Valhalla
Comment=Play this game on Steam
Exec=steam steam://rungameid/2208920
Icon=steam_icon_2208920
Terminal=false
Type=Application
Categories=Game;
