[Desktop Entry]
Name=Cities: Skylines II
Comment=Play this game on Steam
Exec=steam steam://rungameid/949230
Icon=steam_icon_949230
Terminal=false
Type=Application
Categories=Game;
