[Desktop Entry]
Name=FINAL FANTASY XIV Online
Comment=Play this game on Steam
Exec=steam steam://rungameid/39210
Icon=steam_icon_39210
Terminal=false
Type=Application
Categories=Game;
