[Desktop Entry]
Name=Finnish Army Simulator
Comment=Play this game on Steam
Exec=steam steam://rungameid/1184250
Icon=steam_icon_1184250
Terminal=false
Type=Application
Categories=Game;
