[Desktop Entry]
Name=fpsVR
Comment=Play this game on Steam
Exec=steam steam://rungameid/908520
Icon=steam_icon_908520
Terminal=false
Type=Application
Categories=Game;
