[Desktop Entry]
Name=GET EVEN
Comment=Play this game on Steam
Exec=steam steam://rungameid/299950
Icon=steam_icon_299950
Terminal=false
Type=Application
Categories=Game;
