[Desktop Entry]
Name=Jazzpunk: Director's Cut
Comment=Play this game on Steam
Exec=steam steam://rungameid/250260
Icon=steam_icon_250260
Terminal=false
Type=Application
Categories=Game;
