[Desktop Entry]
Name=MILFs of Sunville - Season 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/2294730
Icon=steam_icon_2294730
Terminal=false
Type=Application
Categories=Game;
