[Desktop Entry]
Name=Tiny Tina's Assault on Dragon Keep: A Wonderlands One-shot Adventure
Comment=Play this game on Steam
Exec=steam steam://rungameid/1712840
Icon=steam_icon_1712840
Terminal=false
Type=Application
Categories=Game;
