[Desktop Entry]
Name=Watch Dogs: Legion
Comment=Play this game on Steam
Exec=steam steam://rungameid/2239550
Icon=steam_icon_2239550
Terminal=false
Type=Application
Categories=Game;
